<footer class="site-footer h-card">
 <div class="wrapper">
      <div class="footer-col-wrapper">
         <div class="footer-col footer-col-1">
SISSA <br>
Via Bonomea 265, 34136 Trieste <br>
Office A-710 <br>
<a href="https://www.math.sissa.it/users/andrea-tobia-ricolfi">Professional Webpage</a>         

        </div>
       
           <div class="footer-col footer-col-1">
           <img src="/MATHS/sissa.jpeg" width="73%">
           </div>
       
           <div class="footer-col footer-col-1">
 mail:  <a href="mailto:aricolfi@sissa.it">aricolfi@sissa.it</a> <br>
tel: +39 040 3787 855 <br>
     <a href="https://github.com/aricolfi"><img src="/MATHS/icon-github.svg" width="26px" height="27px"></a> &thinsp;&thinsp;&thinsp;
     <a href="https://orcid.org/0000-0002-8172-2026"><img src="/MATHS/icon-orcid.svg" width="22px" height="22px"></a> &thinsp;&thinsp;&thinsp;
     <a href="https://scholar.google.com/citations?user=bGunzxQAAAAJ&hl=en"><img src="/MATHS/icon-scholar.svg" width="25px" height="25px"></a>
                   
          </div>
      </div>
<i>You’ll write your one story many ways. Don’t ever worry about story. You have only one.</i><br>
<P align="right"><u>My name is Lucy Barton</u>, Elisabeth Strout</P>
  </div>                                                        
</footer>
