<footer class="site-footer h-card">
 <div class="wrapper">
      <div class="footer-col-wrapper">
         <div class="footer-col footer-col-1">
School of Maths & Stats <br>
The university of Sydney <br>
Office 630 <br>

<a href="https://www.sydney.edu.au/science/about/our-people/academic-staff/pieter.roffelsen.html" target="_blank">Professional Webpage</a>         

        </div>
       
           <div class="footer-col footer-col-1">
           <img src="figures/universitylogo.png" width="57%">
           </div>
       
           <div class="footer-col footer-col-1">
 <a href="mailto:pieter.roffelsen@sydney.edu.au">pieter.roffelsen@sydney.edu.au</a> <br>
tel: +39 040 3787 855 <br>
     <a href="https://github.com/proffelsen" target="_blank"><img src="figures/icon-github.svg" width="26px" height="27px"></a> &thinsp;&thinsp;&thinsp;
     <a href="https://orcid.org/0000-0002-0461-7580" target="_blank"><img src="/figures/icon-orcid.svg" width="22px" height="22px"></a> &thinsp;&thinsp;&thinsp;
     <a href="https://scholar.google.com.au/citations?user=hws3VhEAAAAJ&hl=en target="_blank""><img src="/figures/icon-scholar.svg" width="25px" height="25px"></a>
                   
          </div>
      </div>
  </div>                                                        
</footer>
