<nav>
  <h2><a href="/">{{ site.data.theme.name }}</a></h2>
  </p>
  <center><a href="https://www.sydney.edu.au/science/about/our-people/academic-staff/pieter.roffelsen.html">Professional Webpage</a> </center> 
  </p>
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/figures/profile.png" width="96%" id="profile.png"/>
    {% endif %}
  </a>
  <p>
 <center><img src="figures/universitylogo.png" width="70%">  </center>
 <p>
  <div id="bio">
    <small>
    Room 630, Carslaw building <br>
    The University of Sydney <br>
      Camperdown NSW 2050 <br>
    Tel: +61 293 513 879 <br>
    <p>
    </p>
  </div>
  <div id="social">
 {% include social.html %} 
  </div>
</nav> 
